body {
  background-color: #DDD;
  font-size: large;
  margin: 0 0;
  padding: 0 0;
}

h1 {
  display: block;
  text-align: center;
  font-size: 150%;
  margin: 0 0;
  margin-top: 40px;
}



main p {
  display: block;
  /* margin: 0 auto; */
  text-align: center;
  white-space: nowrap
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: solid 1px #000;
  border-spacing: 0;
  padding: 0;
}

th,
td {
  /* padding: 0px 0px;
  margin: 0px 0px; */
  border: solid 1px #000;
}

th {
  background-color: #C5C5FF;
  font-weight: normal;
  font-size: normal;
}

tr {
  font-size: x-small;
}

th:nth-child(1) {
  width: 9%;
}

th:nth-child(2) {
  width: 11%;
}

th:nth-child(3) {
  width: 6%;
  text-align: center;
}

th:nth-child(4) {
  width: auto;
}

th:nth-child(5) {
  width: 9%;
}

th:nth-child(6) {
  width: 15%;
}

th:nth-child(7) {
  width: 10%;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(7) {
  text-align: center;
}





form .input-form p {
  white-space: nowrap;
  display: flex;
  max-height: 24px;
  border-width: 1px;
  width: 100%;
  text-align: left;
}


li {
  list-style: none;
}

label {
  display: block;
  text-align: right;
  min-width: 33%;
  margin-right: 4px;

}

#sex {
  text-align: left
}

input[type="text"],
input[type=password] {
  width: 33%;
  min-width: 300px;
  border-style: solid;
  border-width: 1px;
  border: 1px solid #000;
}

#user_sex2 {
  margin-left: 48px;
}


#submit{
  display: block;
  height: 32px;
  width: 120px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #BBB;
  margin: 0 auto;
  text-align: center;
}

#submit:hover {
  background-color: #DDDDEE;
}

.input-invalid {
  display: flex;
  justify-content: center;
  text-align: center;
}


button {
  display: block;
  margin: 8px auto;
  text-align: center;
  background-color: #BBB;
  border-radius: 8px;
  border-width: 1px;
}

button:hover {
  background-color: #DDDDEE;
}
.alert_message {
  text-align: center;
  margin-top: 80px;
  font-size: large;
}

.page_select {
  text-align: center;
}